.container {
  position: fixed;
  top: 0;
  width: 100%;
  background: #00131e;

  min-height: 67px;
}

@media screen and (min-width: 768px) {
  .container {
    background: #000000;
  }
}

.connected :global(.on-hover) {
  display: none;
}

.connected:hover :global(.on-hover) {
  display: inline-block;
}

.connected :global(.on-default) {
  display: inline-block;
}

.connected:hover :global(.on-default) {
  display: none;
}

/* 
background: linear-gradient(0deg, #F1F3FA, #F1F3FA),
linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); */
